html {
  font-family: "Open Sans", sans-serif;
  padding: .1rem .5rem;
}

.register {
  background-color: #fff;
}

.btn {
  color: #f2f2f2;
  padding: .15em;
}

.wrapper {
  display: inline-block;
}

h1 {
  border-bottom: .5px solid #000;
  margin-top: 3rem;
}

@media only screen and (min-width: 38em) {

  .btn {
    padding-top: .5em;
  }

@media only screen and (min-width: 60em) {

  .pad-right {
    padding-right: .5em;
  }

  .pad-left {
    padding-left: .5em;
  }

}
